@using Rent_O_Matic.Models
@model IEnumerable<Store>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available store locations</h2>

@Html.ActionLink("New", "New", "Stores", new { @class = "btn btn-primary" })

<br />
<br />

<table id="stores" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{

    <script>
        $(document).ready(function () {
            var storesTable = $("#stores").DataTable({
                ajax: {
                    url: "/api/stores",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "city",
                        render: function (data, type, store) {
                            return "<a href='/stores/edit/" + store.id + "'>" + store.city + "</a>";
                        }
                    },
                    {
                        data: "country"
                    },
                    {
                        data: "",
                        render: function (data, type, store) {
                            return "<button class='btn-link js-delete' data-store-id='" + store.id + "' data-hasCars-bool='" + store.hasCars + "'>Delete</button>";
                        }
                    }
                ]
            });
            $("#stores").on("click",
                ".js-delete",
                function () {
                    var button = $(this);
                    var hasCars = button.attr("data-hasCars-bool");
                    if (hasCars === 'true') {
                        bootbox.alert("You cannot delete this store because it has cars attached!");
                    } else {
                        bootbox.confirm("Are you sure you want to delete this store?",
                        function (result) {

                            if (result) {
                                $.ajax({
                                    url: "/api/stores/" + button.attr("data-store-id"),
                                    method: "DELETE",
                                    success: function () {
                                        storesTable.rows(button.parents("tr")).remove().draw();
                                    }

                                });

                            }


                        });
                    }


                });
        });
    </script>

}

