@using Rent_O_Matic.Models
@model IEnumerable<Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current available cars</h2>

<br />
<br />

<table id="cars" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price per day($)</th>
            <th>Store Location</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var carsTable = $("#cars").DataTable({
                ajax: {
                    url: "/api/availableCars",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "brand",
                        render: function (data) {
                            return "<td>" + data + "</td>";
                        }
                    },
                    {
                        data: "model",
                        render: function (data) {
                            return "<td>" + data + "</td>";
                        }
                    },
                    {
                        data: "year",
                        render: function (data) {
                            return "<td>" + data + "</td>";
                        }
                    },
                    {
                        data: "price",
                        render: function (data) {
                            return "<td>" + data + "</td>";
                        }
                    },
                    {
                        data: "",
                        render: function (data, type, car) {
                            return "<td>" + car.store.city + ", " + car.store.country + "</td>";
                        }
                    }
                ]
            });
        })
    </script>
}
